@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  color: white;
}

.logo-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo-text svg {
  width: 34px;
  height: auto;
  color: white;
  margin-right: 10px;
}

.sidebar-row {
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
  font-size: 18pt;
}

.sidebar-item {
  display: flex;
  align-items: center;
}

.sidebar-item img {
  width: 34px;
  height: auto;
  color: white;
  margin-right: 10px;
  color: white;
}

/* margin: 20px 30px; */
/* top and bottom */
/* right and left */

.main {
  height: 100vh;
}
