@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  color: white;
}

.logo-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo-text svg {
  width: 34px;
  height: auto;
  color: white;
  margin-right: 10px;
}

.sidebar-row {
  margin: 0;
  margin-top: 40px;
  margin-left: 20px;
  padding: 0;
  font-size: 16pt;
}

.sidebar-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 8px 0;
}

.sidebar-item img {
  width: 34px;
  height: auto;
  color: white;
  margin-right: 10px;
  color: white;
}

/* margin: 20px 30px; */
/* top and bottom */
/* right and left */

.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: white;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.navbar input {
  width: 500px;
  border-radius: 20px;
  border: none;
  margin-left: 20px;
  margin-right: 300px;
  background-color: #d1d5db;
  padding: 5px 10px;
}

.content {
  background-color: #d4d4d4;
}

#avatarNavbar {
  border-radius: 100%;
  width: 50px;
  height: auto;
  margin: 0 20px;
}
